@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-bg: #E8E6DA;
    --color-primario: #EBCE8F;
    --color-secundario: #DABEEA;
    --color-bg-primario: #E0CFB1;
    --color-texto-oscuro: #363636;
    --color-texto-claro: #E9E5D4;
}

body {
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
}

/* Header */
header {
    width: 100%;
    background: var(--color-primario-claro);
    padding: 12px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header img {
    width: 30px;
}

header nav {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

header nav a {
    color: var(--color-texto-claro);
    font-size: 20px;
    text-decoration: none;
}

header nav a:hover {
    transition: all 0.1s;
    transform: scale(1.1);
}

/* Width */

.w-full {
    width: 100%;
}

.w-big {
    width: 80%;
}

.w-medium{
    width: 60%;
}

.w.small{
    width: 40%;
}

.w-min{
    width: 20%;
}


/* Icons */

.icon-small{
    width: 20px;

}

.icon-medium{
    width: 60px;
}

.icon-big{
    width: 80px;
}
/* Main */

/* Width */

.w-full{
    width: 100%;
}

.w-big{
    width: 80%;
}


/* Icons */

.icon-small {
    width: 40px;
}

.icon-medium {
    width: 60px;
}

.icon-big {
    width: 80px;
}

/* Main */

/* Width */

.w-full {
    width: 100%;
}

.w-big {
    width: 80%;
}


/* Icons */

.icon-small {
    width: 40px;
}

.icon-medium {
    width: 60px;
}

.icon-big {
    width: 80px;
}

/* Main */

main {
    width: 100px 100px 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Aside */

aside {
    display: flex;
    padding: 20px 40px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: var(--color-primario-oscuro);
}

.aside-content {
    width: 50%;
}


.aside-content strong {
    font-size: 26px;
}

.aside-content span {
    display: block;
}


/* Texto */

.title-section {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 0 40px 0;
}

.text-xs {
    font-size: 14px;

}

.text-sm {
    font-size: 20px;
}

.text-lg {
    font-size: 40px;
}

.text-xl {
    font-size: 60px;
}

/* Button */

.button {
    padding: 10px 20px;
    border: 1px;
    border-radius: 10px;
    font-size: 18px;
    transition: all 200ms;
}

.button:hover {
    transform: scale(1.15);
}


.button-white {
    background: var(--color-bg-primario);
}

.button-black {
    background: var(--color-secundario);
}

/* Hero */

.hero {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hero-info {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero-info h1 {
    font-size: 40px;
}

.hero-info p {
    font-size: 20px;
}



/* Aside */

aside{
    display: flex;
    padding: 20px 40px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: var(--color-bg-primario);
}

.aside-content{
    width: 50%;
}


.aside-content strong {
    font-size: 26px;
}

.aside-content span {
    display: block;
}


/* Texto */

.title-section {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 0 40px 0;
}

.text-xs {
    font-size: 14px;

}

.text-sm {
    font-size: 20px;
}

.text-lg {
    font-size: 40px;
}

.text-xl {
    font-size: 60px;
}


/* Button */

.button {
    padding: 10px 20px;
    border: 1px;
    border-radius: 10px;
    font-size: 18px;
    transition: all 200ms;
}

.button:hover {
    transform: scale(1.15);
}


.button-white {
    background: var(--color-bg-primario);
}

.button-black {
    background: var(--color-secundario);
}

/* Hero */

.hero {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.hero-info {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero-info h1 {
    font-size: 40px;
}

.hero-info p {
    font-size: 20px;
}



/* 
    Esta clase esta echa para usarse como contenedora de las "cards"
    sean cuadradas o redondas 

    Estan de manera horiontal una de la otra
*/

.container-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Esta es una clase para los titulos de las secciones 
    Ocupan toda una fila de la paginas (100%)
*/




/* 
Esta es la clase principal o base de las cards 

*/

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-icon {
    width: 15%;
    gap: 10px;
}

.card-icon strong {
    font-size: 20px;
    letter-spacing: 1.2px;
}

.card-icon span {
    text-align: center;
    font-size: 15px;
}



.card-border {
    border: 1px;
}


.historia{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/*PD: despues con mas tiempo les comento bien el codigo asi tienen una referencia de para que sirve
pero bueno otro dia lo hago tkm <3
*/

.container-contacto {
    display: flex;
    padding: 30px 30px 30px;
    gap: 15%;
    align-items: center first baseline;
    flex-direction: row;
    justify-content: center;
    box-sizing: 100%;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
    font-size: larger;
}

.contacto-info ul {
    width: 200px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.contacto-info ul li {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
    width: 900%;
}

h1 {
    font-size: xx-large;
    background-color: var(--color-secundario);
    padding: 10px;
    text-align: center;
}

input {
    width: 400px;
    background-color: #FFFF;
    padding: 15px 0px;
    justify-content: center;
    align-items: first baseline;
    border-radius: 15px;
    border: solid black 2px;
    margin-right: auto 100%;
    font-size: large;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px 10px;
    justify-content: center;
    border: solid black 2px;
    border-radius: 15px;

}

.button-enviar-form {
    background-color: var(--color-secundario);
    padding: 10px 15px;
    border-radius: 10px;
    border-color: #DABEEA;
    font-size: 18px;
    transition: all 200ms;
    margin-top: 20px;
    float: right;
    margin-right: 30px;
}

.button-enviar-form:hover {
    transform: scale(1.15);
}

.aside-box-contactos {
    justify-content: space-between;
    box-sizing: 20px;
    background-color: var(--color-primario);
    padding: 150px;
    display: flexbox;
    box-sizing: 500px;
    font-size: x-large;
}

#text {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-style: normal;

    margin-left: 6px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 2px;
}

.button-redes {
    width: 50px;
    align-content: center;
    padding: 30px;
}


.button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}